{% extends 'main/layout.html' %}
{% block title %}
   
Add-Book
{% endblock %}
{%block main-content%}
<div class="alert alert-success d-flex justify-content-center"><h5>Add-book-Form</h5></div>

<div class="container-fluid d-flex justify-content-center">
<div class="row col-8">
<form action="{% url 'bookstore:book-store'%}" class=" form-control" method="post">
    {% csrf_token %}
    <div class="m-1">
        <label for="title">title</label>
            <input class="form-control" type="text" id="title" name="title">
    </div>       
        <div class="m-1">
            <label for="rate">rate</label>
            <input class="form-control" type="text" id="rate" name="rate">
    </div>
    <div class="m-1">
        <label for="view">view</label>
        <input class="form-control" type="text" id="view" name="views">
</div>
    <div class="m-1">
        <label for="description">description</label>
        <textarea class="form-control" type="text" id="description" name="description"></textarea>
</div>
<div class="m-1 d-flex justify-content-center">
    <input type="submit" name="" id="" value="Add" class="btn btn-info">
</div>

</form>
</div>
</div>
{%endblock%}