{% extends 'main/layout.html' %}
{% block title %}
    Book-Update
{% endblock %}
{%block main-content%}
<div class="alert alert-success d-flex justify-content-center"><h5>Edit-{{ book.title }}-Form</h5></div>


<div class="container-fluid d-flex justify-content-center">
<div class="row col-8">
<form action="{% url 'bookstore:book-edit' book.id %}" class=" form-control" method="post">
    {% csrf_token %}
    <div class="m-1">
        <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="title" value="{{ book.title }}">
    </div>       
        <div class="m-1">
            <label for="price">rate</label>
            <input class="form-control" type="text" id="price" name="rate" value="{{ book.rate}}">
    </div>
    <div class="m-1">
        <label for="views">views</label>
        <input class="form-control" type="text" id="views" name="views" value="{{ book.views}}">
</div>
    <div class="m-1">
        <label for="description">description</label>
        <textarea class="form-control" type="text" id="description" name="description" >{{ book.description }}</textarea>
</div>
<div class="m-1 d-flex justify-content-center">
    <input type="submit" name="" id="" value="Update" class="btn btn-danger">
</div>

</form>
</div>
</div>
{%endblock%}